<style type="text/css">
.divCenter {
	border: 0px solid ;
	padding-top: 50px;
  text-align: center;  
}

#filename {
	border: 0px ;
  background-color: white ;
  color: black;
  margin: 6px;
  text-align: center;
}
</style>

<div class="divCenter">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= form_tag({:action => :upload}, id: "my_form", multipart: true) do %>
    <input type="file" name="file" accept=".txt" id="img" runat="server"/>
    <br>
    <input id="filename" type="text" disabled="true" />
    <br/>
    <%= submit_tag "Submit", :class => "btn btn-primary" ,:id => "submit"  %>
  <% end %>
</div>

<script type="text/javascript">	
$('#img').onchange = uploadOnChange;
   
function uploadOnChange() {
   let filename = this.value;
   let lastIndex = filename.lastIndexOf("\\");
   if (lastIndex >= 0) {
       filename = filename.substring(lastIndex + 1);
   }
   $('#filename').value = filename;
}
</script>